<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="newbilius.com.online_comics_reader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="newbilius.com.online_comics_reader.SimpleComicsReaderApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

        <activity
            android:name="newbilius.com.online_comics_reader.ReadingActivity"
            android:label="Чтение"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="newbilius.com.online_comics_reader.Lists.SearchListActivity"
            android:label="Каталог"
            android:screenOrientation="user" />
        <activity
            android:name="newbilius.com.online_comics_reader.SettingsActivity"
            android:label="Настройки"
            android:screenOrientation="user" />
        <activity
            android:name="newbilius.com.online_comics_reader.Lists.FavoriteComicsListActivity"
            android:screenOrientation="user">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>